[submodule "RAVEN"]
	path = RAVEN
	url = https://github.com/SysBioChalmers/RAVEN.git
	branch = develop3
	shallow = true
[submodule "raven-python"]
	path = raven-python
	url = https://github.com/SysBioChalmers/raven-python.git
	branch = develop
	shallow = true
[submodule "hanpo-GEM"]
	path = hanpo-GEM
	url = https://github.com/SysBioChalmers/hanpo-GEM.git
	branch = main
	shallow = true
